.user_and_chatting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    font-size: 20px;
    height: 390px;
}
.box_chatting {
    display: flex;
    flex-direction: column;
}
.list_user_chat {
    display: flex;
    flex-direction: column;
}
.header-message {
    margin: 0;
}
.user_chat {
    color: #006a71;
}