* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 20px 100px;
    z-index: 100;
}

.container {
    margin: 50px 200px;
    align-items: center;
}

h1 {
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    color: #C0C0C0;
}

input,
button {
    border-width: 1px;
    border-radius: 5px;
    height: 25px;
}

.label-input {
    padding-bottom: 20px;
}
